html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: white;
  background-image: linear-gradient(rgba(12, 12, 12, 0), rgba(12, 12, 12, 1)), url("./assets//stars.png");
  background-position: center;
}

.button {
  width: 13rem;
}
