.earthBackground {
    box-shadow: 0 0 10vh 10vh rgb(11, 9, 11, 1);
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.fullscreen {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
}

.layer1 {
    z-index: 1;
}

.centerFlex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.margin {
    margin: 2rem;
}
