.selectPage {
    position: absolute;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    background-image: linear-gradient(black, 0%, rgba(0, 0, 0, 0.7), 80%, black);
}

.bottom {
    position: absolute;
    bottom: 20vh;
}

.center {
    display: flex;
    flex-flow: column;
}
